bin

# codespaces related file
oryxBuildBinary

.env
postgres-data/
mongodata/
cmd/staticbackend
database/sqlite/test.db
search/testdata
**/*.fts

dev.db
__debug_bin

dist/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/