version: "3.8"

services:
  mongo:
    image: mongo:4.4
    container_name: standalone_mongo
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  redis:
    image: "redis:alpine"
    container_name: standalone_redis
    ports:
      - "6379:6379"

volumes:
  mongo_data:

