{{define "navbar"}}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="/ui">
			<img src="https://staticbackend.com/img/logo-sb-no-text.png" height="28" alt="StaticBackend">
		</a>

		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="/ui/db">
				database
			</a>

			<a class="navbar-item" href="/ui/fn">
				functions
			</a>

			<a class="navbar-item" href="/ui/forms">
				forms
			</a>

			<a class="navbar-item" href="#" onclick="alert('not implemented yet')">
				files
			</a>
		</div>

		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-light" href="#" onclick="alert('not implemented yet')">
						My account
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>
{{end}}