{{ template "head" .}}

<body>
	{{template "navbar" .}}

	<div class="container p-6" x-data="{tab: 'edit', log: ''}">
		<h2 class="title is-2">
			Function: {{if .Data.FunctionName}}{{.Data.FunctionName}}{{else}}"new function"{{end}}
			<a href="/ui/fn/del/{{.Data.FunctionName}}" class="pt-5 delete is-large"
				onclick="return confirm('Are you sure you want to delete?\n\nThis is irreversible.')">
			</a>
		</h2>

		<div class="tabs">
			<ul>
				<li :class="{ 'is-active': tab == 'edit'}">
					<a @click="tab = 'edit'">Edit</a>
				</li>
				<li :class="{ 'is-active': tab == 'history'}">
					<a @click="tab = 'history'">Run history</a>
				</li>
			</ul>
		</div>

		<div x-show="tab == 'edit'">
			<form action="/ui/fn/save" method="POST">
				<input type="hidden" name="id" value="{{if .Data.FunctionName}}{{.Data.ID}}{{else}}new{{end}}">

				<div class="field">
					<label class="label">Function name</label>
					<div class="control">
						<input type="text" class="input" name="name" value="{{.Data.FunctionName}}" placeholder="Name your function"
							required {{if .Data.FunctionName}}disabled{{end}}>
					</div>
				</div>

				<div class="field">
					<label class="label">Trigger (web or topic)</label>
					<div class="control">
						<input type="text" class="input" name="trigger" value="{{.Data.TriggerTopic}}"
							placeholder='Either "web" or "topic"' required>
					</div>
				</div>

				<div class="field">
					<label class="label">Code</label>
					<div class="control">
						<textarea class="textarea" rows="15" name="code" placeholder="Function code"
							required>{{.Data.Code}}</textarea>
					</div>
				</div>

				<div class="field">
					<div class="control">
						<button type="submit" class="button is-primary">Save changes</button>
					</div>
				</div>
			</form>
		</div>

		<div x-show="tab == 'history'">
			<h3 class="subtitle is-3">History</h3>
			<table class="table is-bordered is-striped">
				<thead>
					<tr>
						<th>Version</th>
						<th>Started</th>
						<th>Completed</th>
						<th>Status</th>
						<th>Output</th>
					</tr>
				</thead>
				<tbody>
					{{range .Data.History}}
					<tr>
						<td>{{.Version}}</td>
						<td>{{.Started.Format "2006/01/02 15:04"}}</td>
						<td>{{.Completed.Sub .Started}}</td>
						<td>{{if .Success}}Success{{else}}Failed{{end}}</td>
						<td>
							<a x-show="log == ''" href="#" @click="log = '{{.ID}}'">View output</a>
							<a x-show="log == '{{.ID}}'" @click="log = ''">Hide output</a>
						</td>
					</tr>
					<tr x-show="log ==  '{{.ID}}'">
						<td colspan="5" class="content">
							<div style="overflow-x: scroll;max-width: 100%;">
								<code>
							{{range .Output}}
							{{.}}
							{{end}}
								</code>
							</div>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
</body>

{{template "foot"}}