{{ template "head" .}}

<body>
	{{template "navbar" .}}

	<div class="container p-6">
		<h2 class="title is-2">
			User login options
		</h2>
		<p class="subtitle is-5">
			You may set how you want your users to create their account.
		</p>

		<form action="/ui/enable-login" method="post">
			<div class="field">
				<label class="label">OAuth provider</label>
				<div class="control">
					<div class="select">
						<select name="provider">
							<option value="twitter">
								Twitter
							</option>
							<option value="google">
								Google
							</option>
							<option value="facebook">
								Facebook
							</option>
						</select>
					</div>
				</div>
			</div>

			<div class="field">
				<label class="label">API Key</label>
				<div class="control">
					<input type="text" class="input" name="apikey" required>
				</div>
			</div>

			<div class="field">
				<label class="label">API Secret</label>
				<div class="control">
					<input type="text" class="input" name="apisecret" required>
				</div>
			</div>

			<div class="field">
				<div class="control">
					<button type="submit" class="button is-primary">
						Enable OAuth provider
					</button>
				</div>
			</div>

		</form>

		<div class="py-6">
			<h3 class="subtitle is-3">Enabled providers</h3>
			{{range $key, $val := .Data}}
			<span class="tag is-dark">{{$key}}</span>
			{{end}}
		</div>
	</div>
</body>